sphinx==7.2.2
sphinx_rtd_theme==1.2.2
sphinxcontrib-napoleon==0.7
sphinx-autodoc-typehints==1.23.0
numpy
https://download.pytorch.org/whl/cpu/torch-1.13.0%2Bcpu-cp38-cp38-linux_x86_64.whl
torch_geometric
pytorch_lightning
