name: Test Data

on:
  workflow_dispatch
  schedule:
    - cron: '59 23 * * 1,5'

jobs:
  test_data:
    runs-on: ${{ matrix.os }}
    if: github.ref == 'refs/heads/master'
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.8']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install packages
      run:
        python -m pip install --upgrade pip
        pip install -e .[dev]

    - name: Run data tests
      run:
        pytest test/test_data.py -m "(longruns or not longruns) and not highmemory" -s -v
